name: Build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build
        run: node --version
      - name: Build
        run: npm run build
      - name: Setup Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '16.17.0'
