name: CI
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download README.md
        uses: actions/download_file@v1
        with:
          path: README.md
          file: https://raw.githubusercontent.com/Satvik-Max/test/main/README.md